@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* { margin: 0; padding: 0; }

body, html {
    font-family: 'Pacifico', cursive;
    margin-top: 0px;
    height: 100vh;
}

.App {
    margin: 0px;
    background-color: #0B0E4E;
    color: white;
}

.Movie {
    min-width: 200px;
    max-width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.FavoriteButton {
    max-width: 30%;
    font-size: 30px;
    color: palevioletred;

}

.Poster {
    max-width: auto;
    height: 300px;
}

.MovieContainer {
    display: flex;
    flex-direction: column;
}


.Header {
    border: 8px dotted;
    border-radius:15px;
    border-color: yellow;
    background-color: #D50000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MovieSearchHeader{
    bottom: 50%;
    display: flex;
    margin-left: 25px;
}

h1 {
    font-size: 45px;
}

.Inputs {
    width: 20%;
}

#SubmitButton {
    font-family: 'Pacifico', cursive;
    width: 20%;
    height: auto;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 75px;
    }

    .Labels {
        font-size:20px;
    }
    .MovieContainer {
        display: flex;
        flex-direction: row;
        overflow-x: auto;

    }

    .App {
        height: 100vh;
    }

    .Header {
        border: 10px dotted;
        border-color: yellow
    }
}