@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* { margin: 0; padding: 0; }

body, html {
    font-family: 'Pacifico', cursive;
    margin-top: 0px;
}

.App {
    margin: 0px;
    background-color: #13165A;
    color: white;
    height: 100vh;
}

.Movie {
    min-width: 200px;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.FavoriteButton {
    max-width: 30%;
    font-size: 30px;
    color: palevioletred;

}

.Poster {
    max-width: 70%;
}

.MovieContainer {
    display: flex;
    flex-direction: column;
}


.Header {
    background-color: red;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 45px;
}

.Inputs {
    width: 50%;
}

#SubmitButton {
    font-family: 'Pacifico', cursive;
    width: 50%;
    height: auto;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 75px;
    }

    .Labels {
        font-size:20px;
    }
    .MovieContainer {
        display: flex;
        flex-direction: row;
        overflow-x: auto;

    }
}